repos:
-   repo: https://github.com/commitizen-tools/commitizen
    rev: 3.5.3
    hooks:
    -   id: commitizen
        stages: [commit-msg]

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: check-json

-   repo: https://github.com/commitizen-tools/commitizen
    rev: 3.6.0
    hooks:
    -   id: commitizen
        stages: [commit-msg]

-   repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
    -   id: isort
        exclude: (migrations|crm_backend/crm_backend/settings/)
        args: [--profile, black, --line-length=88]

-   repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
    -   id: flake8
        exclude: (apps|__init__|migrations|crm_backend/crm_backend/settings/)
        additional_dependencies:
        - flake8-docstrings
        args:
        -  --max-line-length=88
        -  --ignore=D100, D105, D106

-   repo: https://github.com/ambv/black
    rev: 23.7.0
    hooks:
    -   id: black
        exclude: (migrations|crm_backend/crm_backend/settings/)
        args: [--line-length=88]
